{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "App": [
            "./src/screens/App"
          ],
          "config": [
            "./src/config"
          ]
        },
        "root": [
          "./src"
        ]
      }
    ],
    "recharts",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "allExtensions": true,
        "isTSX": true,
        "jsxPragma": "React"
      }
    ]
  ]
}
