{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "App": ["./src/screens/App"],
          "config": ["./src/config"]
        }
      }],
      "recharts",
      ["@babel/plugin-transform-runtime", {
        "regenerator": true
      }],
      "@babel/plugin-proposal-class-properties"
  ]
}
