{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1, {
        "extensions": [
          ".js", ".jsx"
        ]
      }
    ]
  },
  "plugins": [
    "react", "import", "jsx-a11y", "module-resolver"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["./src"],
        "alias": {
          "App": ["./src/screens/App"],
          "config": ["./src/config"]
        }
      }
    }
  }
}
