{
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1, {
        "extensions": [
          ".js", ".jsx"
        ]
      }
    ]
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "module-resolver",
    "jest"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["./src"],
        "alias": {
          "App": ["./src/screens/App"],
          "config": ["./src/config"]
        }
      }
    }
  },
  "parser": "babel-eslint"
}
